<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title></title>
    <link rel="stylesheet" href="/public/css/style.css">
      <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>

    <nav class="navbar__main shadow-md">
        <div class="navbar__max">
            <div class="navbar__left">
                <a class="link" href="/">Watcher.pk</a>
            </div>
            <div class="navbar__right" style="display: flex;align-items: center;gap: 24px;">
                <a class="link_nav" href="/">Home</a>
                <a class="link_nav" href="/admin/add">Add Products</a>
                <a class="link_nav" href="/admin/listing">List</a>
                <a class="link_nav" href="#">WishList</a>
            </div>
        </div>
    </nav>